@import "tailwindcss";

:root {
  font-family: "SF Pro Text", "Inter", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #fafafa;
  background-color: #0c0c0c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply font-medium underline transition-colors duration-300 underline-offset-2 decoration-neutral-500;
  color: #fafafa;
}
a:hover {
  @apply decoration-neutral-300;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1a1a1a;
    background-color: #fafafa;
  }

  a {
    color: #3b3b3b;
  }

  a:hover {
    color: #000;
  }

  p {
    color: #444;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.link-clean {
  @apply relative inline-block no-underline transition-all duration-300 ease-out text-inherit;
}
.link-clean::after {
  content: "";
  @apply absolute bottom-0 left-0 h-[1px] w-0 bg-current transition-all duration-300;
}
.link-clean:hover::after {
  @apply w-full;
}
body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
